<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns="http://www.linux-rampage.org/ModuleManifest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.linux-rampage.org/ModuleManifest http://www.linux-rampage.org/ModuleManifest ">
    <module name="rampage.nexus.core" version="1.0.0">
        <label>Rampage Nexus Core</label>
    </module>
    
    <packages>
        <package name="rampage.nexus.core" directory="src" />
    </packages>
    
    <resources>
        <path scope="rampage.nexus.core">resources</path>
        <layout>
            <config file="layout.xml"/>
        </layout>
    </resources>
</manifest>
