.ui-navigation {
    ul {
        padding: 0;

        a {
            width: 100%;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }

        .section {
            label {
                background-color: #eee;
                padding: 8px 10px;
                font-size: 14pt;
                display: block;
                text-transform: uppercase;
            }

            .subnav li a {
                padding-left: 25px;
            }
        }
    }
}
