<md-progress-linear md-mode="indeterminate" ng-hide="$ctrl.collection.$resolved"></md-progress-linear>
<md-content layout-padding ng-show="$ctrl.collection.$resolved">
    <md-list flex ng-if="$ctrl.collection.items.length">
        <md-list-item class="md-3-line" ng-repeat="item in $ctrl.collection.items" ng-click="$ctrl.showDetails(item)">
            <img ng-if="$ctrl.getListIcon" ng-src="{{$ctrl.getListIcon(item)}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column" ng-include="$ctrl.itemTemplate"></div>
        </md-list-item>
    </md-list>

    <section flex ng-if="!$ctrl.collection.count">
        <p>{{ $ctrl.noItemsText }}</p>
    </section>
</md-content>

<md-button ng-if="$ctrl.add" class="md-primary md-fab md-fab-bottom-right" ng-click="$ctrl.add()">
    <md-icon class="material-icons step">add</md-icon>
</md-button>
