<form name="loginForm" layout="column" layout-padding layout-align="center center" ng-submit="$ctrl.login()">
    <md-card>
        <md-card-content layout="column">
            <h2>Please Log In</h2>

            <p md-colors="{color: 'red-A100'}" ng-if="$ctrl.failed">Login Failed</p>

            <md-progress-linear md-mode="indeterminate" ng-show="$ctrl.busy"></md-progress-linear>
            <md-input-container flex>
                <label>Username</label>
                <input name="username" ng-model="$ctrl.credentials.username" ng-required="true" ng-disabled="$ctrl.busy" />
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input name="password" type="password" ng-model="$ctrl.credentials.password" ng-required="true" ng-disabled="$ctrl.busy" />
            </md-input-container>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised" ng-disabled="loginForm.$invalid || $ctrl.busy" ng-click="$ctrl.login()">Login</md-button>
        </md-card-actions>
</form>
