<nav class="ui-navigation">
    <ul class="">
        <li ng-repeat="item in $ctrl.items">
            <a ng-if="!item.abstract" class="md-button md-ink-ripple" href ui-sref="{{item.name}}" ui-sref-active="active">
                <md-icon class="material-icons step">{{item.uiNav.icon}}</md-icon>
                {{item.uiNav.label}}
            </a>
            <div ng-if="item.abstract" class="section">
                <span>{{item.uiNav.label}}</span>

                <ul>
                    <li ng-repeat="child in $ctrl.getChildren(item)">
                        <a class="md-button md-ink-ripple" href ui-sref="{{child.name}}" ui-sref-active="active">
                            <md-icon class="material-icons step">{{child.uiNav.icon}}</md-icon>
                            {{child.uiNav.label}}
                        </a>
                    </li>
                </ul>
            </div>
        <li>
    </ul>
</nav>
