<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns="http://www.linux-rampage.org/ModuleManifest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.linux-rampage.org/ModuleManifest http://www.linux-rampage.org/ModuleManifest ">
    <module name="rampage.nexus" version="1.0.0">
    </module>

    <!-- This might be optional for example when you're using composer autoload dumps -->
    <!--
    <classes>
        <namespaces>
            <namespace namespace="rampage\nexus" path="src" />
        </namespaces>
    </classes>
    -->

    <router>
        <route name="root" type="literal">
            <literal route="/" controller="index" action="index">
            </literal>
        </route>
    </router>

    <!-- This is for convenience, you might also refer to a controller with its full class name -->
    <plugins>
        <pluginmanager type="controllers">
            <services>
                <service name="index" class="rampage\nexus\controllers\IndexController" />
            </services>
        </pluginmanager>
    </plugins>

    <resources>
        <themes>
            <theme name="rampage.nexus" path="default-theme" />
        </themes>
        <paths>
            <path scope="rampage.nexus" path="resource" />
        </paths>
    </resources>
</manifest>
