<md-progress-linear md-mode="indeterminate" ng-hide="$ctrl.progress.$resolved"></md-progress-linear>
<md-content layout-padding ng-show="true || $ctrl.group.$resolved">
    <div class="message message-error" ng-if="$ctrl.progress.error">
        Error while saving ansible group {{ $ctrl.group.label || $strl.group.name }}
    </div>

    <div class="message message-success" ng-if="$ctrl.progress.success">
        Successfully saved ansible group {{ $ctrl.group.label || $strl.group.name }}
    </div>

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Create Group</span>
                <span class="md-subhead">{{ $ctrl.group.label || $strl.group.id }}</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>
            <ng-form name="groupForm" layout="column" name="groupForm">
                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="$ctrl.group.name" name="name" ng-required="true" />
                </md-input-container>

                <md-input-container flex>
                    <label>Label</label>
                    <input ng-model="$ctrl.group.label" name="label" ng-required="true" />
                </md-input-container>


                <md-input-container flex>
                    <label>Children</label>
                    <md-chips ng-model="$ctrl.group.children" name="groups">
                    </md-chips>
                </md-input-container>

                <footer layout="row" layout-align="end center" layout-wrap>
                    <md-button class="md-raised md-primary" aria-label="Save" ng-disabled="groupForm.$invalid" ng-click="$ctrl.save()">Save</md-button>
                </footer>
            </ng-form>
        </md-card-content>
    </md-card>
</md-content>
